<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
        color: #333;
    }
    h1{
        color: #007bff;
    }
</style>
<body>
    <h1>Reset Password</h1>
    <a href="http://localhost:8000/reset-password/${token}">Reset Password</a>
</body>
</html>